<%= simple_form_for(@department) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label:'Nome' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar' %>
  </div>
<% end %>
