<div class="page-header">

  <%= link_to @department, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Visualizar
  <% end %>
  <h1>Editar Departamento</h1>
</div>

<%= render 'form' %>

  <%= link_to departments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>