<div class="page-header">
  <h1>Departamentos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @departments.each do |department| %>
        <tr>
          <td><%= department.name %></td>
        <td>
          <%= link_to '<i class="far fa-eye"></i>'.html_safe, department %>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_department_path(department) %>
          <%= link_to '<i class="fas fa-times"></i>'.html_safe, department, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </tbody>
  </table>
   <%= link_to new_department_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
</div>