<div class="page-header">
  <h1>Novo Departamento</h1>
</div>

<%= render 'form' %>

  <%= link_to departments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
