// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


i {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

i:hover{
	color: #0E4CAF;
	background-color: #FFFFFF;

	border-radius: 10px 0px 10px 0px;
}