<h2>Registro</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :name,
                label:'Nome',
                required: true,
                autofocus: true %>
      <%= f.input :phone,
                label:'Telefone',
                autofocus: true %>
      <%= f.input :position,
                label:'Cargo',
                required: true,
                autofocus: true %>

      <% if @admin == true %>

        <%= f.input_field :admin, as: :hidden, value: 'true' %>
        <!-- <%= f.association :department,
                  label:'Departamento',
                  :as => :collection_select,
                  collection: Department.where("name <> 'Gerente de Estoque'"),
                  autofocus: true %> -->
      <% else %>
        <%= f.input_field :admin, as: :hidden, value: 'false' %>
      <% end %>
      
    <%= f.association :department,
              label:'Departamento',
              autofocus: true %>      

    <%= f.input :email,
                required: true,
                autofocus: true ,
                input_html: { autocomplete: "email" }
                %>
      <%= f.input :cpf,
                label:'CPF',
                required: true,
                autofocus: true %>
    <%= f.input :password,
                label:'Senha',
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label:'Confirmação da Senha',
                required: true,
                input_html: { autocomplete: "new-password" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Registrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
