
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label:'Nome' %>
    <%= f.input :description, label:'Descrição' %>
    <%= f.input :quantity, label:'Quantidade' %>
    <%= f.association :category, label:'Categoria' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Salvar' %>
  </div>
<% end %>
