<div class="page-header">
  <h1>Produtos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descricao</th>
        <th>Quantidade</th>
        <th>Categoria</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= product.quantity %></td>
          <td><%= product.category.name %></td>

          <td>
            <%= link_to '<i class="far fa-eye"></i>'.html_safe, product %>
            <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_product_path(product) %>
            <%= link_to '<i class="fas fa-times"></i>'.html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %>          
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_product_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>

</div>