<div class="page-header">

  <h1>Novo Produto</h1>
</div>

<%= render 'form' %>

  <%= link_to products_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>