<div class="page-header">

  <%= link_to @category, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Visulaizar
  <% end %>
  <h1>Editar Categoria</h1>
</div>

<%= render 'form' %>

  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>