<div class="page-header">

  <h1>Lista de Categorias</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th width="8%"></th>        
      </tr>
    </thead>

    <tbody>
    <%= @gerente%>

      <% @categories.each do |category| %>
        <tr>
            <td><%= category.name %></td>
        <td>
          <%= link_to '<i class="far fa-eye"></i>'.html_safe, category %>
          <%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_category_path(category) %>
          <%= link_to '<i class="fas fa-times"></i>'.html_safe, category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>

    <%= link_to new_category_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nova
  <% end %>
</div>
