<div class="page-header">
  <%= link_to categories_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <h1>Visualizar Categoria</h1>
</div>
<% if flash[:error] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>      
<% elsif flash[:sucess] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:sucess] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>      
<% end %>
<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @category.name %></dd>
</dl>
<%= link_to edit_category_path(@category), class: 'btn btn-primary' do %>
  <span class="glyphicon glyphicon-pencil"></span>
  Editar
<% end %>