
<%= simple_form_for(@historic) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :date %>
    <%= f.input :quantity %>
    <%= f.input :historic_type %>
    <%= f.association :product %>
    <%= f.association :employee %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
