<div class="page-header">
  <h1>Histórico</h1>
</div>
<div> 
<div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-table"></i> Data Table Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Produto</th>
            <th>Tipo</th>
            <th>Quantidade</th>                        
            <th>Responsável</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <% @historics.each do |historic| %>
            <tr>
                <td>
                  <%= link_to historic_path(historic.product.id),class: 'btn btn-default' do %>
                    <%= historic.product.name %>                           
                  <% end %>              
                </td>
                <td><%= historic.historic_type %></td>
                <td><%= historic.quantity %></td>
                <td><%= historic.employee.name %></td>
                <td><%= historic.date %></td>                                  
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
</div>
</div>

