<div class="page-header">
  <%= link_to historics_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Histórico - <%=@produto.name%> </h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <div class="card" >
      <div class="card-header">
        Entradas
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=@entradas%></li>
      </ul>
    </div>  
  </div>

  <div class="col-sm-4">
    <div class="card" >
      <div class="card-header">
        Saídas
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%=@saidas%></li>
      </ul>
    </div>  
  </div>
</div>
