
<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">    
    <%= f.input :status, :as => :hidden, :input_html => { :value => "3" } %>
    <%= f.input :quantity, label:'Quantidade' %>
    <%= f.input :employee_id, :as => :hidden, :input_html => { :value => "#{current_employee.id}" }
 %>

    <%= f.association :product, label:'Produto' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
