<div class="page-header">
  <h1>Meus Pedidos</h1>
</div>
<% if flash[:error] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% elsif flash[:sucess] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:sucess] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Funcionário</th>
        <th>Status</th>
        <% if !current_employee.admin? %>
        <th></th>
        <th></th>
        <th></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.employee.name %></td>
          <td>
            <%if order.status == 3%>
                Aguardando
            <%elsif order.status == 0 %>
                Recusado
            <%end %>
         </td>
          <% if !current_employee.admin? %>
            <td>
                <%= link_to 'visualizar', order, class: 'nav-link' %>
            </td>
            <td>
                <%= link_to 'Editar', edit_order_path(order) %>
            </td>
            <td>
                <%= link_to 'Deletar', order, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to new_order_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Fazer Pedido
  <% end %>
</div>
