<div class="page-header">
  <h1>Pedidos</h1>
</div>
<% if flash[:error] %>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <%= flash[:error] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>      
<% elsif flash[:sucess] %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:sucess] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>      
<% end %>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Funcionário</th>        
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.product.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.employee.name%> (<%=order.employee.department.name%>)</td>
          <td align="center">            
            <%if order.status == 3 %>
              <%= form_tag("/orders/#{order.id}", method: "patch",:id => 'form') do %>
                <input type = "hidden" id = "status" name = "order[status]" value = "0">              
                  
                  <i id="ap" class="fas fa-thumbs-up"></i>   
                  <i id="rp" class="fas fa-thumbs-down"></i>                                                     
              <% end %>                          
              <%= form_tag("/orders/#{order.id}", method: "patch") do %>

                  <input type = "hidden" id = "teste" name = "order[status]" value = "1">  
                                         
                  <% end %>                      
              <%end %>      
                 
         </td>                                
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

